<h1> Veg Items</h1>
<%@chinese_veg_items.each do |item|%>
  <%= item.name%>
  <%= item.price%>
<%end%>
<h1> Non_Veg Items</h1>
<%@chinese_non_veg_items.each do |item|%>
  <%= item.name%>
  <%= item.price%>
<%end%>