<h1> Veg Items</h1>
<%@north_indian_veg_items.each do |item|%>
  <%= item.name%>
  <%= item.price%>
<%end%>
<h1> Non_Veg Items</h1>
<%@north_indian_non_veg_items.each do |item|%>
  <%= item.name%>
  <%= item.price%>
<%end%>